<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" href="#">
          <img width="20px" src="assets/logo.svg"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngFor ="let link of links" class="nav-item">
            <a routerLink={{link.href}} class="nav-link" aria-current="page" > {{ link.text}} </a>
          </li>
        </ul>
        <app-search></app-search>
        <div class="inline-flex px-4">{{count}}</div>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf = "!loggedIn">
              <a (click)="loginUser()" class="nav-link btn btn-primary text-white px-4 py-2">SignIn</a>
          </li>
          <li class="nav-item" *ngIf = "loggedIn">
            <a class="nav-link text-gray px-4 py-2">Welcome {{ name }}</a>
        </li>
          <li class="nav-item">
            <a (click)="logOutUser() " [ngClass]="{'btn-secondary': loggedIn, 'btn-primary': !loggedIn }" class="nav-link  btn  text-white px-4 py-2 ml-2"> {{ loggedIn? 'SignOut': 'SignUp' }} </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
